#BALBUM
*/1 * * * * cd /home/balbum.ru/cron && /usr/bin/php badges.php
*/1 * * * * cd /home/balbum.ru/cron && /usr/bin/php image.php
*/5 * * * * cd /home/balbum.ru/cron && /usr/bin/php amazon.php
*/1 * * * * cd /home/balbum.ru/cron && /usr/bin/php private_real.php
