body{
    font-size:11px;
    font-family: Tahoma, Georgia, Arial;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    min-width: 980px;
    background: #fff;
}


body,html{
    height: 100%;
    background:#0e4482  url(/static/img/head.png) top center repeat-x;
}

.clear{font-size:1px;display: block;float: none;clear:left;height:0px;}
abbr,.timeago{text-decoration: none;border:none}
a{text-decoration: underline  ;color:#999;}
a:hover{text-decoration: underline;cursor:pointer;color:#222;}
h1,h2,h3,ul,li{padding:0;margin:0;}

.l-header{
    height: 70px;
    margin:10px 0 0 0;
    position: relative;
    color: #fff;
}

.l-wrapper{
    padding:10px 0px 60px 0px;
    overflow:hidden;
    min-width:980px;
    max-width:1280px;
    display: block;
}

.l-container{
    min-width:980px;
    max-width:980px;
    min-height: 100%;
    height:auto !important;
    height:100%;
    margin:0 auto;
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
}

.l-content{
    margin-right : 350px;
    min-width: 630px;
    width:auto !important;
    width:100%;
}

.l-content .l-left{float:left;width:130px;overflow: hidden;}
.l-content .l-right{float:right;width:500px;overflow: hidden;}

.l-sidebar{
    float:right;
    width:330px;
    min-height:200px;
}


.l-footer{
    position: relative;
    width:100%;
    margin:-60px 0 0;
    height:60px;
    z-index:20;
    text-align: right;
    overflow: hidden;
}


.conditions_paging{
    width:100%;
    text-align: center;
    display: inline-block;
}

.conditions_paging .page{
    display: inline-block;
}

.conditions_paging .page a{
    display: block;
    text-decoration: none;
    background: #fff;
    color:#000;
    width:20px;
    height:20px;
    line-height: 20px;
    border:1px solid #888;
    margin:2px;
}

.conditions_paging .page.current a {
    background: #345;
    color:#fff;
    font-weight: bolder;
}


.conditions_sorting{
    width:100%;
    text-align: center;
    display: inline-block;
}

.conditions_sorting .sort{
    display: inline-block;
}

.conditions_sorting .sort a{
    display: block;
    text-decoration: none;
    background: #fff;
    color:#000;
    border:1px solid #888;
    margin:2px;
    padding:2px;
}

.conditions_sorting .sort.current a {
    background: #345;
    color:#fff;
    font-weight: bolder;
}

.plank_logged{position: absolute; right: 10px; top:2px;}
.plank_logged a.name{font-size:12px; float:left;color:#fff;}
.plank_logged span{font-size:12px; float:left;margin:0 5px 0 0}
.plank_logged a.logout{font-size:12px; float:left;margin:0 5px 0 5px;color:#fff;}

.plank_login{position: absolute; right: 10px; top:2px;}
.plank_login .email,
.plank_login .pwd{width:100px;height:16px;font-size:14px;line-height: 14px;background: none;border:1px solid #2e64a2;color:#fff;}
.plank_login .error{position: absolute;top:20px;background: #fff; font-style: normal;padding:3px;margin:2px;border:1px solid #0e4482;color:#cd0a0a}

.plank_login .submit{margin:2px 0 0 0 ;padding-top:2px;width:70px;height:20px;font-size:14px;line-height: 14px;background: none;border:none;;color:#fff;font-size:12px}

ul.menu{display: table; clear: both; background: #0e4482; border:1px solid #1e5492;width:100%}
ul.menu li{float:left;margin:3px;padding:3px;list-style: none}
ul.menu li.current{}
ul.menu li a{color:#fff;}
ul.menu li.current a{color: #ebebeb; text-decoration: none;}

.block.publications_main{}

.block.publications_main .publications{}
.block.publications_main .publications .pub{ margin:10px;padding:10px;width: 980px;}
.block.publications_main .publications .pub .foot .tags .tag{margin:0 10px 0 0}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


.suggested_events .event{
    position: relative;
    border:2px solid #ddd;
    margin:2px;
    padding:3px;
}

.suggested_events .event.e_too_old{ /* too old for this event*/
    background: #deffde;
}

.suggested_events .event.e_fit{ /* exactly our age */
    background: #9eff9e ;
}

.suggested_events .event.e_too_young{ /* exactly our age */
    background: #ff9e9e ;
}

.suggested_events .event.hidden{ /* exactly our age */
    background: #deaaae ;
}

.suggested_events .event.hidden p{display: none;}

.suggested_events .event.exists{ /* already filled */
    background: #aeffae;
}

.comment{
    padding-left:40px;
}

.comment .body{
    border:1px solid #000;
    min-height: 100px;
    margin:2px;
    padding: 3px;
}

.body.odd{
    background: #ababab!important;
}
.body.nodd{
    background: #bebebe;
}


.comment_form{}
.comment_form .head{position: relative; clear: right; height:100px;}

.comment_form .head span{position: absolute;top:6px; left:76px;color:#bababa;}
.comment_form .head:hover span{display: none;}
.comment_form .head.hover span{display: none;}
.comment_form .head .avatar{float:left;width:60px;padding:5px;display: inline-block}
.comment_form .head .text{float:left;display: inline-block;width:540px}
.comment_form .head .text textarea{width:100%;height:70px;border:1px solid #444;line-height: 18px; font-size:12px;}



#main_album{
    margin:0 10px 0 10px;
}

.album .event_one{
    padding:10px 12px 10px 12px;
    margin:4px 2px 2px 2px;
    position: relative;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}

.album .event_one .head{}
.album .event_one .head .user{display: inline-block}
.album .event_one .head .user .title{text-transform: capitalize; position: absolute; left:70px;top:10px;font-size:19px;font-family: Georgia; font-style: italic; font-weight: normal}
.album .event_one .head .user .edit{position: absolute; left:70px;top:40px;font-size:11px;color:#000;}
.album .event_one .head .user .av{display: inline-block}
.album .event_one .head .user .lnk{position: absolute; right:10px;top:10px;}
.album .event_one .head .user .lnk a{color: #000;}
.album .event_one .head .time{position: absolute; right:10px;top:25px;}
.album .event_one .body{}

.album .event_one .body .img{display: inline-block;width:250px; text-align: center;}
.album .event_one .body .img a img{margin:10px; background: #cedef0}
.album .event_one .body .right{display: inline-block;width:330px;vertical-align: top}
.album .event_one .body .right .description{background-color: #F0F1F2;
                                            border: 1px solid #E0E0E0;
                                            border-radius: 3px 3px 3px 3px;
                                            margin:10px 0 0 0;
                                            box-shadow: 0 1px 5px #E0E0E0;
                                            overflow: hidden;
                                            padding: 5px;}
.album .event_one .body .right .additional{background-color: #F0F1F2;
                                           border: 1px solid #E0E0E0;
                                           border-radius: 3px 3px 3px 3px;
                                           margin:10px 0 0 0;
                                           box-shadow: 0 1px 5px #E0E0E0;
                                           display: inline-block;
                                           overflow: hidden;
                                           padding: 5px;}

.album .event_one .body .right .additional .ft{font-weight: bolder;font-size: 11px;}
.album .event_one .body .right .additional .ft .add{margin:0 0 0 10px;display: inline-block;font-weight: normal; text-align: right}

.album .event_one .foot{position: relative;}
.album .event_one .foot .comments_count a{color:#000;margin:5px 5px 0 0;}
.album .event_one .foot .like {position: absolute; bottom:5px;right:5px;}

.like_a{display: inline-block; width:16px;height:16px;background: url(/static/img/love_.png) top left no-repeat}
.like_a:hover{background: url(/static/img/love.png) top left no-repeat}
.like_a.active{background: url(/static/img/love.png) top left no-repeat}


.textblock{ padding:10px 6px 6px 6px;
            margin:4px 12px 2px 12px;
            position: relative;
            background: #fff;
            border: 1px solid #E0E0E0;
            border-radius: 5px 5px 5px 5px;
            overflow: hidden;
}
.textblock h1{font-size: 18px;}
.textblock h2{font-size: 16px;}
.textblock p{font-size: 12px;}
.textblock p a{color:#222;}