body{
    font-size:11px;
    font-family: Arial,Tahoma, Georgia, Arial;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    min-width: 980px;
    background: #fff;
}

.tilt-0:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt-0 {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.tilt-1:hover {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt-1 {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}

.tilt {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tilt:hover {
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
}

.rounded_3_shadow{
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    margin:10px;
    box-shadow: 0 1px 3px #E0E0E0;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}

.baby-age{
    background-color: #F6F7F8;
    color:#666;
    border: 1px solid #F0F0F0;
    border-radius: 3px 3px 3px 3px;
    margin:10px 0px 0px 0px;
    max-width: 100px;
    box-shadow: 0 1px 3px #E0E0E0;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    width: auto;
}

.rounded_5_shadow{
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
    margin:10px;
    box-shadow: 0 1px 5px #E0E0E0;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}

.fill_on_hover{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80); /* IE 5.5+*/
    -moz-opacity: 0.8; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.8; /* Konqueror 3.1, Safari 1.1 */
    opacity: 0.8;
}
.fill_on_hover:hover{
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
    -moz-opacity: 1; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
    opacity: 1;
}

body,html{
    height: 100%;
    background:#0e4482 url(/static/img/head.png) top center repeat-x;
}

.clear{font-size:1px;display: block;float: none;clear:left;height:0px;}
abbr,.timeago{text-decoration: none;border:none}
a{text-decoration: underline  ;color:#999;}
a:hover{text-decoration: underline;cursor:pointer;color:#222;}
h1,h2,h3,ul,li{padding:0;margin:0;}

.l-header{
    height: 70px;
    margin:10px 0 0 0;
    position: relative;
    color: #fff;
}

.l-wrapper{
    padding:10px 0px 60px 0px;
    overflow:hidden;
    min-width:980px;
    max-width:1280px;
    display: block;
}

.l-container{
    min-width:980px;
    max-width:980px;
    min-height: 100%;
    height:auto !important;
    height:100%;
    margin:0 auto;
    position: relative;
    display: block;
    width: 100%;
}

.l-content{
    margin-right : 290px;
    min-width: 690px;
    width:auto !important;
    width:100%;
}

.l-content.wide{
    margin-right : 0px;
    min-width: 900px;
    width:auto !important;
    width:100%;
}

.l-content .l-left{float:left;width:130px;overflow: hidden;}
.l-content .l-right{float:right;width:560px;overflow: hidden;}

.l-sidebar{
    float:right;
    width:270px;
    min-height:200px;
}


.l-footer{
    position: relative;
    width:100%;
    margin:-60px 0 0;
    height:60px;
    z-index:20;
    text-align: right;
    overflow: hidden;
}


.conditions_paging{
    width:100%;
    text-align: center;
    display: inline-block;
}

.conditions_paging .page{
    display: inline-block;
}

.conditions_paging .page a{
    display: block;
    text-decoration: none;
    background: #fff;
    color:#000;
    width:20px;
    height:20px;
    line-height: 20px;
    border:1px solid #888;
    margin:2px;
}

.conditions_paging .page.current a {
    background: #345;
    color:#fff;
    font-weight: bolder;
}


.conditions_sorting{
    width:100%;
    text-align: center;
    display: inline-block;
}

.conditions_sorting .sort{
    display: inline-block;
}

.conditions_sorting .sort a{
    display: block;
    text-decoration: none;
    background: #fff;
    color:#000;
    border:1px solid #888;
    margin:2px;
    padding:2px;
}

.conditions_sorting .sort.current a {
    background: #345;
    color:#fff;
    font-weight: bolder;
}

.plank_logged{position: absolute; right: 10px; top:2px;}
.plank_logged a.name{font-size:12px; float:left;color:#fff;}
.plank_logged span{font-size:12px; float:left;margin:0 5px 0 0}
.plank_logged a.logout{font-size:12px; float:left;margin:0 5px 0 5px;color:#fff;}

.plank_logged .notify{
    color:#222;
    position: absolute;
    top:0px;
    right:-10px;
    background: #fff;
    z-index: 40;
    text-align: center;
}

.plank_logged .notify .t{display: none;}
.plank_logged .notify:hover .t{display: block;font-size:11px;}

.plank_logged .notify .notifyes{display: none;}
.plank_logged .notify:hover .notifyes{display: block;}

.plank_logged .notify:hover .notifyes .notify{text-align: left;}
.plank_logged .notify:hover .notifyes .notify .img{width: 50px; display: inline-block;width:50%; vertical-align: top;}
.plank_logged .notify:hover .notifyes .notify .img img{max-width: 50px; vertical-align: top;}
.plank_logged .notify:hover .notifyes .notify .title{display: inline-block;width:50%;}


.plank_login{position: absolute; right: 10px; top:2px;}
.plank_login .email,
.plank_login .pwd{width:100px;height:16px;font-size:14px;line-height: 14px;background: none;border:1px solid #2e64a2;color:#fff;}
.plank_login .error{position: absolute;top:20px;background: #fff; font-style: normal;padding:3px;margin:2px;border:1px solid #0e4482;color:#cd0a0a}

.plank_login .submit{margin:2px 0 0 0 ;padding-top:2px;width:70px;height:20px;font-size:14px;line-height: 14px;background: none;border:none;;color:#fff;font-size:12px}

ul.menu{display: table; clear: both; background: #0e4482; border:1px solid #1e5492;width:100%}
ul.menu li{float:left;margin:3px;padding:3px;list-style: none}
ul.menu li.current{}
ul.menu li a{color:#fff;}
ul.menu li.current a{color: #ebebeb; text-decoration: none;}

.block.publications_main{}

.block.publications_main .publications{}
.block.publications_main .publications .pub{ margin:10px;padding:10px;width: 980px;}
.block.publications_main .publications .pub .foot .tags .tag{margin:0 10px 0 0}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }


.suggested_events .event{
    position: relative;
    border:2px solid #ddd;
    margin:2px;
    padding:3px;
}

.suggested_events .event.e_too_old{ /* too old for this event*/
    background: #deffde;
}

.suggested_events .event.e_fit{ /* exactly our age */
    background: #9eff9e ;
}

.suggested_events .event.e_too_young{ /* exactly our age */
    background: #ff9e9e ;
}

.suggested_events .event.hidden{ /* exactly our age */
    background: #deaaae ;
}

.suggested_events .event.hidden p{display: none;}

.suggested_events .event.exists{ /* already filled */
    background: #aeffae;
}

.comment{
    padding-left:40px;
}

.comment .body{
    border:1px solid #000;
    min-height: 100px;
    margin:2px;
    padding: 3px;
}

.body.odd{
    background: #ababab!important;
}
.body.nodd{
    background: #bebebe;
}


.comment_form{}
.comment_form .head{position: relative; clear: right; height:100px;}

.comment_form .head span{position: absolute;top:6px; left:76px;color:#bababa;}
.comment_form .head:hover span{display: none;}
.comment_form .head.hover span{display: none;}
.comment_form .head .avatar{float:left;width:60px;padding:5px;display: inline-block}
.comment_form .head .text{float:left;display: inline-block;width:540px}
.comment_form .head .text textarea{width:100%;height:70px;border:1px solid #444;line-height: 18px; font-size:12px;}



#main_album{
    margin:0 10px 0 10px;
}
#event_type_album{
    margin:0 10px 0 10px;
}

#event_type_album .ahead{background-color: #F0F1F2;
                         border: 1px solid #E0E0E0;
                         border-radius: 5px 5px 5px 5px;
                         margin:10px 0 0 0;
                         overflow: hidden;
                         padding: 5px;}
#event_type_album .ahead h1{text-align: center; text-transform: uppercase;font-weight: normal; font-family: Georgia; font-style: italic; font-size:16px; color :#333}
#event_type_album .ahead p{text-align: center; padding:10px;}

.album .event_one{
    padding:10px 12px 10px 12px;
    margin:4px 2px 2px 2px;
    position: relative;
    background: #fff;
    border: 1px solid #E0E0E0;
    border-radius: 5px 5px 5px 5px;
}

.album .event_one .head{}
.album .event_one .head .user{display: inline-block}
.album .event_one .head .user .title{text-transform: lowercase; position: absolute; width:400px; left:70px;top:10px;font-size:19px;font-family: Georgia; font-style: italic; font-weight: normal}
.album .event_one .head .user .edit{position: absolute; right:10px;top:50px;font-size:11px;color:#000;}
.album .event_one .head .user .av{display: inline-block}
.album .event_one .head .user .lnk{position: absolute; right:10px;top:10px;}
.album .event_one .head .user .lnk a{color: #000;}
.album .event_one .head .time{position: absolute; right:10px;top:25px;}
.album .event_one .body{    }
.album .event_one .body:hover{}

.album .event_one .body .img{display: inline-block;width:250px; text-align: center;}
.album .event_one .body .img a img{margin:10px; background: #cedef0}
.album .event_one .body .right{display: inline-block;width:330px;vertical-align: top}
.album .event_one .body .right .description{background-color: #F0F1F2;
                                            border: 1px solid #E0E0E0;
                                            border-radius: 3px 3px 3px 3px;
                                            margin:10px 0 0 0;
                                            box-shadow: 0 1px 5px #E0E0E0;
                                            overflow: hidden;
                                            padding: 5px;
                                            font-size:13px;}
.album .event_one .body .right .additional{background-color: #F0F1F2;
                                           border: 1px solid #E0E0E0;
                                           border-radius: 3px 3px 3px 3px;
                                           margin:10px 0 0 0;
                                           box-shadow: 0 1px 5px #E0E0E0;
                                           display: inline-block;
                                           overflow: hidden;
                                           padding: 5px;}

.album .event_one .body .right .additional .ft{color:#666;font-weight: bolder;font-size: 11px; border-bottom: 1px dotted #000; height:8px; margin:2px 4px 10px 4px;}
.album .event_one .body .right .additional .ft span{display: inline-block; background: #F0F1F2;padding-right: 4px;}
.album .event_one .body .right .additional .ft .add{margin:0 0 0 10px; font-weight: normal; text-align: right;float:right;background: #F0F1F2;padding-left: 4px;}

.album .event_one .body .right .event_type{
    position: absolute;
    right:-20px;
    bottom:40px;
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    margin:10px 0 0 0;
    box-shadow: 0 1px 5px #E0E0E0;
    display: inline-block;
    overflow: hidden;
    padding: 5px;
    text-align: right;
    float:right}

.album .event_one .body .right .event_type div{margin:0 5px 0 0; font-weight: bolder}
.album .event_one .body .right .event_type span{margin:0 5px 0 0;font-weight: normal;}
.album .event_one .body .right .event_type p{margin:2px;padding:2px;display: none;}
.album .event_one .body .right .event_type:hover p{margin:2px;padding:2px;display: block;}

.album .event_one .foot{position: relative;}
.album .event_one .foot .comments_count a{color:#000;margin:5px 5px 0 0;}
.album .event_one .foot .like {position: absolute; bottom:5px;right:5px;}

.like_a{display: inline-block; width:16px;height:16px;background: url(/static/img/love_.png) top left no-repeat}
.like_a:hover{background: url(/static/img/love.png) top left no-repeat}
.like_a.active{background: url(/static/img/love.png) top left no-repeat}


.textblock{ padding:10px 6px 6px 6px;
            margin:4px 12px 2px 12px;
            position: relative;
            background: #fff;
            border: 1px solid #E0E0E0;
            border-radius: 5px 5px 5px 5px;
            overflow: hidden;
}
.textblock h1{font-size: 18px;}
.textblock h2{font-size: 16px;}
.textblock p{font-size: 12px;}
.textblock p a{color:#222;}

.register_form{background-color: #F0F1F2;
               border: 1px solid #E0E0E0;
               border-radius: 3px 3px 3px 3px;
               margin:10px;
               box-shadow: 0 1px 5px #E0E0E0;
               overflow: hidden;
               padding: 5px;
               text-align: center;}
.register_form div{display: block;}
.register_form div span{width:100px;display: inline-block; text-align: left; font-size:13px;}
.register_form div span a{text-decoration: none;color:#222;}
.register_form div div{width:180px;}
.register_form .submit{clear: both;display: block;text-align: center;margin:0 auto;margin:10px auto;cursor:pointer; border:1px solid #2e64a2; background: #0e4482; color: #fff;}

.register_form em.error{display: block;text-align:center;width:100%;color:#cd0a0a;text-transform: lowercase; margin:0 0 10px 0;}

.register_form h1{font-size:14px; font-weight: normal;padding:10px}

.register_form .agree_{text-align: center;}
.register_form .agree_ .agree{width:400px;}
.register_form .agree{}

.register_success{background-color: #F0F1F2;
                  border: 1px solid #E0E0E0;
                  border-radius: 3px 3px 3px 3px;
                  margin:10px;
                  box-shadow: 0 1px 5px #E0E0E0;
                  overflow: hidden;
                  padding: 5px;
                  text-align: center;}

.show_profile_small{
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    margin:10px 5px 5px 5px;
    box-shadow: 0 1px 3px #E0E0E0;
    overflow: hidden;
    padding: 3px;
}

.show_profile_small .block ul{list-style: none}

.show_profile_small .block.credentials{text-align: center;padding:3px 0 5px 0;}

.show_profile_small .info i{text-align: left; font-size: 11px; font-weight: bolder;color:#444;}
.show_profile_small .info span{text-align: center; font-size:12px;color:#222;display: block}

.show_profile{
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    margin:10px;
    box-shadow: 0 1px 3px #E0E0E0;
    overflow: hidden;
    padding: 5px;
}
.show_profile{position: relative;}
.show_profile .block.credentials .edit{position: absolute; top:4px; right:10px;}


.user_edit{
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    margin:10px;
    box-shadow: 0 1px 3px #E0E0E0;
    overflow: hidden;
    padding: 5px;
}

.user_edit .block .head{
    margin:4px 0px 10px 20px;
    font-size:14px;
    font-weight: bolder;
}

.user_edit .block .data .title{width:100px;text-align: right; margin:0 4px 0 0; display: inline-block;vertical-align: top;}
.user_edit .block .data .title .error{display: block;color:#f22;}
.user_edit .block .data .value{text-align: left; margin:0 4px 0 0; display: inline-block;vertical-align: top;}



.user_forget{
    width:300px;
    margin: 10px auto;
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #E0E0E0;
    overflow: hidden;
    padding: 5px;
}

.user_forget .block .head{
    margin:4px 0px 10px 20px;
    font-size:14px;
    font-weight: bolder;
}

.user_forget .block .data .title{width:100px;text-align: right; margin:0 4px 0 0; display: inline-block;vertical-align: top;}
.user_forget .block .data .title .error{display: block;color:#f22;}
.user_forget .block .data .value{text-align: left; margin:0 4px 0 0; display: inline-block;vertical-align: top;}
.user_forget .block .submit{clear: both;display: block;text-align: center;margin:0 auto;margin:10px auto;cursor:pointer; border:1px solid #2e64a2; background: #0e4482; color: #fff;}

.faq_item{
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    margin:10px;
    box-shadow: 0 1px 3px #E0E0E0;
    overflow: hidden;
    padding: 5px;
}

.faq_item p{padding:3px 0 0 5px;}
.faq_item li{padding:3px 2px 10px 10px;}

.album_edit{
    background-color: #F0F1F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    margin:10px;
    box-shadow: 0 1px 3px #E0E0E0;
    overflow: hidden;
    padding: 5px;
}

.album_edit .head{
    font-size:14px;
}

.album_edit .data{clear: both;}
.album_edit .data .title{width:190px;display: inline-block;}
.album_edit .data .value{display: inline-block;}

.album_edit .data .value .family{clear: both;}
.album_edit .data .value .family .u{width:190px;display: inline-block;}
.album_edit .data .value .family .role{width:190px;display: inline-block;}
.album_edit .data .value .family .e{display: inline-block;}


.event_one_show {position: relative;
                 background-color: #F0F1F2;
                 border: 1px solid #E0E0E0;
                 border-radius: 3px 3px 3px 3px;
                 margin:10px;
                 box-shadow: 0 1px 3px #E0E0E0;
                 overflow: hidden;
                 padding: 5px;}
.event_one_show .head{}
.event_one_show .body{}
.event_one_show .foot{}